
<app-navbar-submittor></app-navbar-submittor>


<div class="surface-overlay  mx-6 mt-8  justify-content-between relative lg:static">

    <div class="surface-card p-4 shadow-2 border-round">
        <div class="font-medium text-3xl text-900 mb-3">{{paper[0].name}}</div>
        <div class="text-500 mb-5">Egestas sed tempus urna et pharetra pharetra massa massa ultricies.</div>
        <div class="grid grid-nogutter border-top-1 surface-border pt-2">
            <div class="col-12 md:col-6 p-3">
                <div class="text-500 font-medium mb-2">Name</div>
                <div class="text-900">Elliot Alderson</div>
            </div>
            <div class="col-12 md:col-6 p-3">
                <div class="text-500 font-medium mb-2">Size</div>
                <div class="text-900">121mb</div>
            </div>
            <div class="col-12 p-3">
                <div class="text-500 font-medium mb-2">Description</div>
                <div class="text-900 line-height-3">Faucibus pulvinar elementum integer enim neque volutpat ac tincidunt vitae. Commodo odio aenean sed adipiscing diam donec adipiscing tristique. Eget felis eget nunc lobortis mattis aliquam faucibus purus in.</div>
            </div>
            <div class="col-12 p-3">
                <div class="text-500 font-medium mb-3">Files</div>
                <div class="flex md:align-items-center md:justify-content-between border-top-1 surface-border p-3 flex-column md:flex-row">
                    <div  class="flex align-items-center">
                        <span class="block pi pi-file mr-2"></span>
                        <span class="text-900">{{paper[0].name}}</span>
                    </div>
                    <button pButton pRipple icon="pi pi-download" (click)="getPaperFiles(this.id)" label="Download" class="p-button-outlined mt-2 md:mt-0"></button>
                </div>

            </div>
        </div>
    </div>

</div>
