/* .container {

    padding-top: 5em;
}
.footer{
    margin-top: 100vh;
    position: relative;
    bottom: 0;
    width: 100%;
} */

.page-container {
    position: relative;
    min-height: 100vh;
  }
  
  .content-wrap {
    padding-bottom: 3rem;    
  }
  
  .footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 3rem;   
    padding-bottom: 10px;         
  }