<app-navbar-submittor></app-navbar-submittor>
<div class="surface-overlay  mx-6 mt-8  justify-content-between relative lg:static">

<div class="surface-card p-4 shadow-2 border-round">

<div class="">
    <div class="grid">
        <div class="col-12 lg:col-2">
            <div class="text-900 font-medium text-xl mb-3">Paper</div>
            <p class="m-0 p-0 text-600 line-height-3 mr-3">Odio euismod lacinia at quis risus sed vulputate odio.</p>
        </div>
        <div class="col-12 lg:col-10">
            <div class="grid formgrid p-fluid">
                <div class="field mb-4 col-12">
                    <label for="nickname" class="font-medium text-900">Name</label>
                    <input id="nickname" #name id="name" type="text" pInputText>
                </div>
                <div class="field mb-4 col-12">
                    <label for="avatar" class="font-medium text-900">Upload file</label>
                    <div class="flex align-items-center">
                        <!-- <p-fileUpload mode="basic" name="avatar" url="./upload.php" accept="image/*"  styleClass="p-button-outlined p-button-plain" chooseLabel="Upload File"></p-fileUpload> -->
                        <!-- <p-fileUpload  mode="basic"  (onUpload)="onUpload($event)" styleClass="p-button-outlined p-button-plain" chooseLabel="Upload File"></p-fileUpload> -->
                        <input type="file" class="file-upload"  (change)="onFileSelected($event)" #fileUpload>
                    </div>
                </div>
                <div class="container" *ngIf="loading">
                    <h3>Loading ...</h3>
                </div>
                <div class="col-12">
                    <button pButton pRipple label="Save Changes" (click)="uploadPaper(name.value)" class="w-auto mt-3"></button>
                </div>
            </div>
        </div>
    </div>
</div>
</div></div>